{% if video_exists or image_exists %}
  <div class="gcb-col-5">
{% else %}
  <div class="gcb-col-11">
{% endif %}

  <h1 class="gcb-product-headers-large">
    {{course_info.course.title}}
  </h1>

  <!--Shikha-->
  {% if course_labels %}
  <p class="gcb-product-headers">
  <link href="/modules/skill_map/_static/css/common.css" rel="stylesheet" type="text/css">
  <ol class="skill-display-root">
  {% for label in course_labels %}
    <li class="skill">{{label.title}} {% if label.description %}: {{label.description}}{% endif %}</li>
  {% endfor %}
  </ol>
  </p>
  {% endif %}

  <p class="gcb-product-headers">
  {{course_info.course.blurb | gcb_tags}}
  </p>

  <p class="gcb-bio-headers">
    {{course_info.course.instructor_details | safe}}
  </p>

</div>

{% if show_video %}
  <div id="main-image" class="gcb-col-5">
    {# I18N: Alt text for an embedded YouTube video player. #}
    <div class="gcb-video-container">
        <iframe class="youtube-player" type="text/html"
            title="{{ gettext('YouTube Video Player') }}"
            src="https://www.youtube.com/embed/{{video_id}}"
            frameborder="0"
            allowfullscreen="allowfullscreen">
        </iframe>
    </div>
  </div>
{% elif show_image %}
  <div id="main-image" class="gcb-col-5">
    <img height="300"
        alt="{{course_info.course.main_image.alt_text}}"
        src="{{course_info.course.main_image.url}}">
  </div>
{% endif %}
