{% if labels.add_action %}
  <div class="gcb-button-toolbar">
    <form id='gcb-add-label' action='{{ labels.add_action }}' method='POST'>
      <input type="hidden" name="xsrf_token" value="{{ labels.add_xsrf_token }}">
      <button class="gcb-button" type="submit">Add Label</button>
    </form>
  </div>
{% endif %}


<div class="gcb-list gcb-list--autostripe xsrf-token-holder"
    data-status-xsrf-token-label="{{ status_xsrf_token }}">
  <table>
    <thead>
      <tr>
        <th class="gcb-list__cell--icon"></th>
        <th class="gcb-list__cell--icon"></th>
        <th>Title</th>
        <th class="gcb-list__cell--icon"></th>
      </tr>
    </thead>
    <tbody>
      {% for item in labels.children %}
        <tr>

          <td>
          </td>

          <td>
          </td>

          <td>
            <a href="{{item.edit_action}}">
              {{item.title}}
            </a>
          </td>

          <td>
            {% if item.delete_action %}
            <form id='gcb-delete-label-{{ loop.index0 }}'
                  action='{{ item.delete_action }}'
                  method='POST'>
              <input type="hidden"
                     name="xsrf_token"
                     value="{{ item.delete_xsrf_token }}">
              <button
                 class="material-icons gcb-list__icon gcb-list__icon--rowhover"
                 type="submit"
                 onclick='return confirm("Delete this item?");'>delete</button>
            </form>
            {% endif %}
          </td>

        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if not labels.children|length %}
    <div class="gcb-list__empty-message-wrapper">
      <div class="gcb-list__empty-message">No items</div>
    </div>
  {% endif %}
</div>
